@model MyApp.Models.Registros

@{
    ViewData["Title"] = "Delete";
}

<div class="wrapper">
    <div class=" content-wrapper">
        <h1>Delete</h1>

        <h3>Esta seguro de eliminar este registro?</h3>
        <div>
            <h4>Registros</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Imagen)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Imagen)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Documento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaNac)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaNac)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Celular)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Genero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Genero)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Deporte)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Deporte)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Trabaja)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Trabaja)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sueldo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sueldo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdRegistro" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
